<link rel="stylesheet" href="main.css">
<body style="background-color: rgb(245, 245, 245);">
</body>
<h1>Cropped Faces</h1>
<h2>Cropping faces from the video</h2>

<img src="/python/code/frame_copy/0000.jpg">
<img src="/python/code/frame_copy/0001.jpg">
<img src="/python/code/frame_copy/0002.jpg">
<img src="/python/code/frame_copy/0003.jpg">
<img src="/python/code/frame_copy/0004.jpg">
<img src="/python/code/frame_copy/0005.jpg">
<img src="/python/code/frame_copy/0006.jpg">
<img src="/python/code/frame_copy/0007.jpg">
<img src="/python/code/frame_copy/0008.jpg">
<img src="/python/code/frame_copy/0009.jpg">
<img src="/python/code/frame_copy/0010.jpg">
<img src="/python/code/frame_copy/0011.jpg">
<img src="/python/code/frame_copy/0012.jpg">
<img src="/python/code/frame_copy/0013.jpg">
<img src="/python/code/frame_copy/0014.jpg">
<img src="/python/code/frame_copy/0015.jpg">
<img src="/python/code/frame_copy/0016.jpg">
<img src="/python/code/frame_copy/0017.jpg">
<img src="/python/code/frame_copy/0018.jpg">
<img src="/python/code/frame_copy/0019.jpg">
<img src="/python/code/frame_copy/0020.jpg">
<img src="/python/code/frame_copy/0021.jpg">
<img src="/python/code/frame_copy/0022.jpg">
<img src="/python/code/frame_copy/0023.jpg">
<img src="/python/code/frame_copy/0024.jpg">
<img src="/python/code/frame_copy/0025.jpg">
<img src="/python/code/frame_copy/0026.jpg">
<img src="/python/code/frame_copy/0027.jpg">
<img src="/python/code/frame_copy/0028.jpg">
<img src="/python/code/frame_copy/0029.jpg">
<img src="/python/code/frame_copy/0030.jpg">
<img src="/python/code/frame_copy/0031.jpg">
<img src="/python/code/frame_copy/0032.jpg">
<img src="/python/code/frame_copy/0033.jpg">
<img src="/python/code/frame_copy/0034.jpg">
<img src="/python/code/frame_copy/0035.jpg">
<img src="/python/code/frame_copy/0036.jpg">
<img src="/python/code/frame_copy/0037.jpg">
<img src="/python/code/frame_copy/0038.jpg">
<img src="/python/code/frame_copy/0039.jpg">
<img src="/python/code/frame_copy/0040.jpg">
<img src="/python/code/frame_copy/0041.jpg">
<img src="/python/code/frame_copy/0042.jpg">
<img src="/python/code/frame_copy/0043.jpg">
<img src="/python/code/frame_copy/0044.jpg">
<img src="/python/code/frame_copy/0045.jpg">
<img src="/python/code/frame_copy/0046.jpg">
<img src="/python/code/frame_copy/0047.jpg">
<img src="/python/code/frame_copy/0048.jpg">
<img src="/python/code/frame_copy/0049.jpg">
<h3>Stdout:</h3>
<p><%=stdout%></p>
<h3>Stderr:</h3>
<p><%=stderr%></p>