<link rel="stylesheet" href="main.css">
<body style="background-color: rgb(245, 245, 245);">
</body>
<h1>Detected Faces</h1>
<h2>Detecting faces from the video</h2>


<video controls>
    <source src="/python/code/facedetection_c.mp4" type="video/mp4">
</video>

<h3>Stdout:</h3>
<p><%=stdout%></p>
<h3>Stderr:</h3>
<p><%=stderr%></p>