<link rel="stylesheet" href="main.css">
<body style="background-color: rgb(245, 245, 245);">
</body>
<h1>Align Faces</h1>
<h2>Aligning faces from the cropped images</h2>

<img src="/python/code/facealign/aligned_00000.png">
<img src="/python/code/facealign/aligned_00001.png">
<img src="/python/code/facealign/aligned_00002.png">
<img src="/python/code/facealign/aligned_00003.png">
<img src="/python/code/facealign/aligned_00004.png">
<img src="/python/code/facealign/aligned_00005.png">
<img src="/python/code/facealign/aligned_00006.png">
<img src="/python/code/facealign/aligned_00007.png">
<img src="/python/code/facealign/aligned_00008.png">
<img src="/python/code/facealign/aligned_00009.png">
<img src="/python/code/facealign/aligned_00010.png">
<img src="/python/code/facealign/aligned_00011.png">
<img src="/python/code/facealign/aligned_00012.png">
<img src="/python/code/facealign/aligned_00013.png">
<img src="/python/code/facealign/aligned_00014.png">
<img src="/python/code/facealign/aligned_00015.png">
<img src="/python/code/facealign/aligned_00016.png">
<img src="/python/code/facealign/aligned_00017.png">
<img src="/python/code/facealign/aligned_00018.png">
<img src="/python/code/facealign/aligned_00019.png">
<img src="/python/code/facealign/aligned_00020.png">
<img src="/python/code/facealign/aligned_00021.png">
<img src="/python/code/facealign/aligned_00022.png">
<img src="/python/code/facealign/aligned_00023.png">
<img src="/python/code/facealign/aligned_00024.png">
<img src="/python/code/facealign/aligned_00025.png">
<img src="/python/code/facealign/aligned_00026.png">
<img src="/python/code/facealign/aligned_00027.png">
<img src="/python/code/facealign/aligned_00028.png">
<img src="/python/code/facealign/aligned_00029.png">
<img src="/python/code/facealign/aligned_00030.png">
<img src="/python/code/facealign/aligned_00031.png">
<img src="/python/code/facealign/aligned_00032.png">
<img src="/python/code/facealign/aligned_00033.png">
<img src="/python/code/facealign/aligned_00034.png">
<img src="/python/code/facealign/aligned_00036.png">
<img src="/python/code/facealign/aligned_00037.png">
<img src="/python/code/facealign/aligned_00039.png">
<img src="/python/code/facealign/aligned_00041.png">
<img src="/python/code/facealign/aligned_00042.png">
<img src="/python/code/facealign/aligned_00044.png">
<img src="/python/code/facealign/aligned_00045.png">
<img src="/python/code/facealign/aligned_00047.png">
<img src="/python/code/facealign/aligned_00048.png">
<img src="/python/code/facealign/aligned_00051.png">
<img src="/python/code/facealign/aligned_00052.png">    
<img src="/python/code/facealign/aligned_00054.png">
<img src="/python/code/facealign/aligned_00058.png">


<h3>Stdout:</h3>
<p><%=stdout%></p>
<h3>Stderr:</h3>
<p><%=stderr%></p>