<link rel="stylesheet" href="main.css">
<body style="background-color: rgb(245, 245, 245);">
</body>
<h1>Align Faces to Video</h1>
<h2>Making a video from align faces</h2>

<video width="580" height="580" controls>
    <source src="/python/code/face_align_video_c.MP4" type=video/mp4>
</video>


<h3>Stdout:</h3>
<p><%=stdout%></p>
<h3>Stderr:</h3>
<p><%=stderr%></p>