<link rel="stylesheet" href="main.css">

<h1>Align Faces to Video</h1>
<h2>Making a video from align faces</h2>

<video width="180" height="180" controls>
    <source src="/python/code/face_align_video_converted.MP4" type=video/mp4>
</video>


<h3>Stdout:</h3>
<p><%=stdout%></p>
<h3>Stderr:</h3>
<p><%=stderr%></p>