<link rel="stylesheet" href="main.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
<body style="background-color: rgb(245, 245, 245);">
</body>

<h1 style="font-size:4vw">Lip Reading System</h1>
<h2 style="font-size:3vw">Silent Movies</h2>

<br>
&nbsp;&nbsp;<a href="/trim" class="ui button" style="background-color:#0b93c5; color: aliceblue; font-size: 1.5em;">Trim Video Clip</a>
&nbsp;&nbsp;<a href="/detectFaces" class="ui button" style="background-color:#0b93c5; color: aliceblue; width:215px ; font-size: 1.5em;">Detect Faces</a>
&nbsp;&nbsp;<a href="/cropFaces" class="ui button" style="background-color:#0b93c5; color: aliceblue; font-size: 1.5em;">Crop Faces</a>
&nbsp;&nbsp;<a href="/faceAlign" class="ui button" style="background-color:#0b93c5; color: aliceblue; font-size: 1.5em;">Face Align</a>
<br>
<br>
&nbsp;&nbsp;<a href="/facetoVideo" class="ui button" style="background-color:#0b93c5; color: aliceblue; font-size: 1.5em;">Align Faces to Video</a>
&nbsp;&nbsp;<a href="/mouthROI" class="ui button" style="background-color:#0b93c5; color: aliceblue; font-size: 1.5em;">Cropping Mouth ROI</a>
&nbsp;&nbsp;<a href="/mouthtoVideo" class="ui button" style="background-color:#0b93c5; color: aliceblue; font-size: 1.5em;">Mouth ROI to Video</a>
<br>
<br>
&nbsp;&nbsp;<a href="/prediction" class="ui button" style="background-color:#0b93c5; width:790px ; color: aliceblue; font-size: 1.5em;">Prediction</a>
