<link rel="stylesheet" href="main.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
<h1>Index Page</h1>
<h2>Silent Lipreader</h2>
<h2>Silent Movie</h2>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<a href="/trim" class="ui button">Trim Video Clip</a>