<link rel="stylesheet" href="main.css">
<body style="background-color: rgb(245, 245, 245);">
</body>
<h1>Mouth ROI to Video</h1>
<h2>Making a Video from Mouth ROI Images</h2>


<video width="500" height="285"  controls>
    <source src="/python/code/mouth_roi_video_c.mp4" type="video/mp4">
</video>

<h3>Stdout:</h3>
<p><%=stdout%></p>
<h3>Stderr:</h3>
<p><%=stderr%></p>