<link rel="stylesheet" href="main.css">

<h1>Cropping Mouth ROI(Region of Interest)</h1>
<h2>Cropping mouth area from the aligned faces video</h2>

<img src="/python/code/mouth_roi/0000.png" style="width:150px;height:97px;">
<img src="/python/code/mouth_roi/0001.png" style="width:150px;height:97px;">
<img src="/python/code/mouth_roi/0002.png" style="width:150px;height:97px;">
<img src="/python/code/mouth_roi/0003.png" style="width:150px;height:97px;">
<img src="/python/code/mouth_roi/0004.png" style="width:150px;height:97px;">
<img src="/python/code/mouth_roi/0005.png" style="width:150px;height:97px;">
<img src="/python/code/mouth_roi/0006.png" style="width:150px;height:97px;">
<img src="/python/code/mouth_roi/0007.png" style="width:150px;height:97px;">
<img src="/python/code/mouth_roi/0008.png" style="width:150px;height:97px;">
<img src="/python/code/mouth_roi/0009.png" style="width:150px;height:97px;">
<img src="/python/code/mouth_roi/0010.png" style="width:150px;height:97px;">
<img src="/python/code/mouth_roi/0011.png" style="width:150px;height:97px;">
<img src="/python/code/mouth_roi/0012.png" style="width:150px;height:97px;">
<img src="/python/code/mouth_roi/0013.png" style="width:150px;height:97px;">
<img src="/python/code/mouth_roi/0014.png" style="width:150px;height:97px;">
<img src="/python/code/mouth_roi/0015.png" style="width:150px;height:97px;">
<img src="/python/code/mouth_roi/0016.png" style="width:150px;height:97px;">
<img src="/python/code/mouth_roi/0017.png" style="width:150px;height:97px;">
<img src="/python/code/mouth_roi/0018.png" style="width:150px;height:97px;">
<img src="/python/code/mouth_roi/0019.png" style="width:150px;height:97px;">
<img src="/python/code/mouth_roi/0020.png" style="width:150px;height:97px;">
<img src="/python/code/mouth_roi/0021.png" style="width:150px;height:97px;">
<img src="/python/code/mouth_roi/0022.png" style="width:150px;height:97px;">
<img src="/python/code/mouth_roi/0023.png" style="width:150px;height:97px;">
<img src="/python/code/mouth_roi/0024.png" style="width:150px;height:97px;">
<img src="/python/code/mouth_roi/0025.png" style="width:150px;height:97px;">
<img src="/python/code/mouth_roi/0026.png" style="width:150px;height:97px;">
<img src="/python/code/mouth_roi/0027.png" style="width:150px;height:97px;">
<img src="/python/code/mouth_roi/0028.png" style="width:150px;height:97px;">
<img src="/python/code/mouth_roi/0029.png" style="width:150px;height:97px;">
<img src="/python/code/mouth_roi/0030.png" style="width:150px;height:97px;">
<img src="/python/code/mouth_roi/0031.png" style="width:150px;height:97px;">
<img src="/python/code/mouth_roi/0032.png" style="width:150px;height:97px;">
<img src="/python/code/mouth_roi/0033.png" style="width:150px;height:97px;">
<img src="/python/code/mouth_roi/0034.png" style="width:150px;height:97px;">
<img src="/python/code/mouth_roi/0035.png" style="width:150px;height:97px;">
<img src="/python/code/mouth_roi/0036.png" style="width:150px;height:97px;">
<img src="/python/code/mouth_roi/0037.png" style="width:150px;height:97px;">
<img src="/python/code/mouth_roi/0038.png" style="width:150px;height:97px;">
<img src="/python/code/mouth_roi/0039.png" style="width:150px;height:97px;">
<img src="/python/code/mouth_roi/0040.png" style="width:150px;height:97px;">
<img src="/python/code/mouth_roi/0041.png" style="width:150px;height:97px;">
<img src="/python/code/mouth_roi/0042.png" style="width:150px;height:97px;">
<img src="/python/code/mouth_roi/0043.png" style="width:150px;height:97px;">
<img src="/python/code/mouth_roi/0044.png" style="width:150px;height:97px;">
<img src="/python/code/mouth_roi/0045.png" style="width:150px;height:97px;">
<img src="/python/code/mouth_roi/0046.png" style="width:150px;height:97px;">
<img src="/python/code/mouth_roi/0047.png" style="width:150px;height:97px;">
<img src="/python/code/mouth_roi/0048.png" style="width:150px;height:97px;">
<img src="/python/code/mouth_roi/0049.png" style="width:150px;height:97px;">
<img src="/python/code/mouth_roi/0050.png" style="width:150px;height:97px;">
<img src="/python/code/mouth_roi/0051.png" style="width:150px;height:97px;">
<img src="/python/code/mouth_roi/0052.png" style="width:150px;height:97px;">
<img src="/python/code/mouth_roi/0053.png" style="width:150px;height:97px;">
<img src="/python/code/mouth_roi/0054.png" style="width:150px;height:97px;">
<img src="/python/code/mouth_roi/0055.png" style="width:150px;height:97px;">



<h3>Stdout:</h3>
<p><%=stdout%></p>
<h3>Stderr:</h3>
<p><%=stderr%></p>