<link rel="stylesheet" href="main.css">
<body style="background-color: rgb(245, 245, 245);">
</body>
<h1>Prediction</h1>
<h2> Video to the model for prediction</h2>
<br>
<br>

<body>

    <h1 style="color:#1F6F8B; font-size: 30px;">Actual</h1>
    <h2 style="color:#2d261c; font-size: 23px;">TO THIS TO THE LAST DAY</h2>
    <br>
    <h1 style="color:#1F6F8B; font-size: 30px;">Predictive</h1>
    <h2 style="color:#2d261c; font-size: 23px;">THE THINGS IN THE SAME THINGS</h2>
    
    
</body>


<h3>Stdout:</h3>
<p><%=stdout%></p>
<h3>Stderr:</h3>
<p><%=stderr%></p>