
<link rel="stylesheet" href="main.css">

<body style="background-color:#ffffff;">
<h1>TRIMMED VIDEOS</h1>
<h2>Trimming video to five seconds clips</h2>
<video width="320" height="240" controls>
    <source src="/python/code/trim/5.mp4" type=video/mp4>
</video>
<video width="320" height="240" controls>
    <source src="/python/code/trim/6.mp4" type=video/mp4>
</video>
<video width="320" height="240" controls>
    <source src="/python/code/trim/7.mp4" type=video/mp4>
</video>
<video width="320" height="240" controls>
    <source src="/python/code/trim/8.mp4" type=video/mp4>
</video>
<video width="320" height="240" controls>
    <source src="/python/code/trim/9.mp4" type=video/mp4>
</video>
<video width="320" height="240" controls>
    <source src="/python/code/trim/10.mp4" type=video/mp4>
</video>
<video width="320" height="240" controls>
    <source src="/python/code/trim/11.mp4" type=video/mp4>
</video>
<video width="320" height="240" controls>
    <source src="/python/code/trim/12.mp4" type=video/mp4>
</video>
<video width="320" height="240" controls>
    <source src="/python/code/trim/13.mp4" type=video/mp4>
</video>
<video width="320" height="240" controls>
    <source src="/python/code/trim/14.mp4" type=video/mp4>
</video>
<video width="320" height="240" controls>
    <source src="/python/code/trim/15.mp4" type=video/mp4>
</video>
<video width="320" height="240" controls>
    <source src="/python/code/trim/16.mp4" type=video/mp4>
</video>
</body>
</html>

<!-- <video controls src="/python/code/trim/11.mp4"></video>
<video controls src="/python/code/trim/21.mp4"></video>
<video controls src="/python/code/trim/31.mp4"></video>
<video controls src="/python/code/trim/41.mp4"></video> -->
<h3>Stdout:</h3>
<p><%=stdout%></p>
<h3>Stderr:</h3>
<p><%=stderr%></p>