<h1>Trimmed Videos</h1>
<video controls src="/python/code/trim/11.mp4"></video>
<video controls src="/python/code/trim/21.mp4"></video>
<video controls src="/python/code/trim/31.mp4"></video>
<video controls src="/python/code/trim/41.mp4"></video>
<h3>Stdout:</h3>
<p><%=stdout%></p>
<h3>Stderr:</h3>
<p><%=stderr%></p>